<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Index</title>
</head>
<body>
    <p>Hello</p>
    {% if game_list %}
    <ul>
    {% for game in game_list %}
        <li><a href="/onitama/game/{{ game.id }}/">Game {{ game.id }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No games!</p>
{% endif %}
</body>
<script>
    var socket = new WebSocket("ws://"+window.location.host+"/ws/onitama/");
    socket.onmessage = function(e) {
        console.log(e.data);
    }
    socket.onopen = function(e) {
        socket.send("Hello websocket!");
        socket.send("Hello websocket2!");
        socket.send("Hello websocket3!");
    }
</script>
</html>
