#game {
    margin: auto;
    text-align: center;
}

.card-row .card {
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

.card.pending {
    background-color: yellow;
}

.cardgrid-square.filled {
    background-color: black;
}

.cardgrid-square.blank {
    background-color: white;
}

.cardgrid-square.center {
    background-color: lightgreen;
}

.cardgrid-square {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    margin: -1px 0 0 -1px;
    display: inline-block;
}

.cardgrid-row {
    line-height: 0;
}

#board {
    height: 400px;
    width: 400px;
    background-image: url('./assets/board500.svg');
    border: 5px solid black;
    background-size: cover;
}

.board-row .board-square {
    display: inline-block;
}

.board-row {
    line-height: 0px;
    height: 20%;
}

.board-square {
    height: 100%;
    width: 20%;
    padding: 0.6%;
    box-sizing: border-box;
    background-clip: content-box;
}

.board-square.target {
    background-color: orange;
}

.board-square.highlight {
    background-color: yellow;
}

.board-square.selected {
    background-color: lightgreen;
}

.move-row {
    display: flex;
    justify-content: space-between;
}

.move-list .selected {
    background-color: lightgreen;
}

.game-left, .game-center, .game-right {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.piece {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.piece.bluepawn {
    background-image: url('./assets/bluepawn.svg');
}

.piece.redking {
    background-image: url('./assets/redking.svg');
}

.piece.blueking {
    background-image: url('./assets/blueking.svg');
}

.piece.redpawn {
    background-image: url('./assets/redpawn.svg');
}
